<!DOCTYPE html>
<html style="width:500px;min-height:700px;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
    <link rel="stylesheet" href="styles.css">
    <script defer src="js/fontawesome.js"></script>
  </head>
  <body class="has-navbar-fixed-top" >
    <div id="app">
      <div class="modal" v-bind:class="{ 'is-active': addModal }">
        <div class="modal-background" @click="toggleAddModal()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add Event</p>
            <button class="delete" aria-label="close" @click="toggleAddModal()"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Smash.gg Tournament Slug</label>
              <div class="control">
                <input class="input is-success" type="text" placeholder="Tournament Slug" v-model="eventInput" >
              </div>
              <p class="help">Ex: https://smash.gg/tournament/[tournament-slug]/events</p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click="addEvent()">Add</button>
            <button class="button" @click="toggleAddModal()">Cancel</button>
          </footer>
        </div>
      </div>
      <a class="button add-icon is-link" data-balloon="Add Event" data-balloon-pos="left" @click="toggleAddModal()"> 
        <span class="icon is-large">
          <i class="fas fa-plus"></i>
        </span>
      </a>
      <nav class="navbar is-fixed-top has-background-danger" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item has-text-white has-text-weight-semibold">
                  Smash Mini Calendar
              </a>

              <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
          </div>

          <div class="navbar-menu" id="navMenu">
            <!-- shown on mobile -->
            <!-- <a class="navbar-item" >
              Add Tab
            </a>
            <a class="navbar-item">
              Edit Tab Names
            </a> -->
            <a class="navbar-item" @click="github">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </div>

      </nav>
      <section>
        <div class="container ">
          <div class="tabs is-centered is-small is-boxed">
            <ul>
              <li v-bind:class="{ 'is-active': tabs.upcomingEvents }">
                <a @click="changeTab('upcomingEvents')">
                  <span>Upcoming Events</span>
                </a>
              </li>
              <li v-bind:class="{ 'is-active': tabs.allEvents }">
                <a @click="changeTab('allEvents')">
                  <span>All Events</span>
                </a>
              </li>
              <li v-bind:class="{ 'is-active': tabs.prevEvents }">
                <a @click="changeTab('prevEvents')">
                  <span>Past Events</span>
                </a>
              </li>
            </ul>
          </div>
       
          <article class="media event" v-for="(event, index) in filteredEvents()">
            <figure class="media-left">
              <p class="image is-64x64 event-logo">
                <img v-bind:src="event.logo">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{event.name}}</strong>
                  <br/>
                  <span>{{event.startAt | moment}}-{{event.endAt | moment}}</span> 
                  <br/>
                  <span>{{event.city}}, {{event.state}}</span>
                </p>

              </div>
            </div>
            <div class="media-right">
                <span class="icon has-text-info" data-balloon="Copy Event Link" data-balloon-pos="left" @click="copyEvent(event)">
                  <i class="fas fa-paste"></i>
                </span>
                <span class="icon has-text-danger" data-balloon="Delete Event" data-balloon-pos="left" @click="deleteEvent(index)">
                  <i class="fas fa-trash-alt"></i>
                </span>
            </div>
          </article>
          <div class="no-events" v-show="filteredEvents().length == 0">
            <p>No events available yet! Get started by adding events.</p>
            <br/>
            <a class="button is-link is-outlined" @click="toggleAddModal()">Add Events</a>
          </div>
          <div style="margin:2.5rem;"></div>
        </div>
      </section>
    </div>
  </body>
  <script src="js/moment.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/lokijs.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/navbar.js"></script>
</html>